<footer>
    <div id="socialmidia">
        <button>
            <i class="fa-brands fa-twitter fa-3x"></i>
        </button>
        <button>
            <i class="fa-brands fa-google fa-3x"></i>
        </button>
        <button>
            <i class="fa-brands fa-instagram fa-3x"></i>
        </button>
        <button>
            <i class="fa-brands fa-facebook fa-3x"></i>
        </button>
    </div>
    <div id="contato">
        <form action="">
            <input type="text" class="text" id="first" value="Nome" onfocus="expand('min-content')">
            <input type="text" class="text" value="E-mail">
            <input type="text" class="text" value="Assunto">
            <input type="text" class="text" value="Mensagem">
            <input type="submit" class="submit" onclick="expand('62px')">
        </form>
    </div>
    <div id="copyright">
        <div class="grupo">
            <p class="member">Eliane Medeiros 28639375</p>
            <p class="member">Jonas Da Silva 29278791</p>
            <p class="member">Carlos Vasconcelos 29815282</p>
            <p class="member">Willian Massao 29864968</p>
            <p class="member">Sabryna Ap. 29981727</p>
        </div>
        <p class="year">@Copyright 1000ac - 2022dc</p>
    </div>
</footer>