<footer class="footer">
    <div class="footer-content">
        <div class="footer-info">
            <h2>Informações de Contato</h2>
            <p>Endereço: 123 Rua do Mercado</p>
            <p>Telefone: (123) 456-7890</p>
            <p>Email: contato@mercadodexemplo.com</p>
        </div>
        <div class="footer-logo">
            <img src="/src/bossi.png" alt="Logo do Mercado">
        </div>
        <div class="footer-social">
            <h2>Nossas Redes Sociais</h2>
            <a href="#" class="social-icon"><i class="fi fi-brands-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fi fi-brands-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fi fi-brands-instagram"></i></a>
        </div>
    </div>
</footer>