<footer>
    <div class="social">
        <div class="insta">
            <a href="https://www.instagram.com/gautoclinic/">
                <i class="fi fi-brands-instagram"></i>	
                <p>@gautoclinic</p>
            </a>
            <a href="https://api.whatsapp.com/message/MACLYMXPASI3N1?autoload=1&app_absent=0">
                <i class="fi fi-brands-whatsapp"></i>
                <p>Whatsapp</p>
            </a>
        </div>
    </div>
    <div class="newsletters">
        <p>Receba as novidades!,Inscreva-se</p>
        <form action="">
            <input type="email" name="email" id="email" placeholder="Digite seu email">
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="menssages">
        <p class="local">Guarulhos - SP</p>
        <p class="local">Avenida Salgado Filho</p>
        <p class="local">07.115-000</p>
        <p class="local">(11) 98906-5193</p>
    </div>
</footer>