<footer>
    <div class="social">
        <div class="insta">
            <a href="https://www.instagram.com/gautoclinic/">
                <i class="fi fi-brands-instagram"></i>	
                <p>@gautoclinic</p>
            </a>
            <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.me%2Fmessage%2FMACLYMXPASI3N1&e=AT2-7KqT26TC5gURTwuKGDUU1e1-MUC6sQn4P8rET9msAO9qXIE0mllvAmIaQgAWFiOVxcv8UDn1RlQ5ztS8tu0o9u_KNVlggTo_cD7lWKiWDEfl59s4Xg">
                <i class="fi fi-brands-whatsapp"></i>
                <p>Whatsapp</p>
            </a>
        </div>
    </div>
    <div class="newsletters">
        <p>Receba as novidades!!, inscreva-se</p>
        <form action="">
            <input type="email" name="email" id="email" placeholder="Digite seu email">
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div class="menssages">
        <p class="local">Guarulhos - SP</p>
        <p class="local">Avenida Salgado Filho</p>
        <p class="local">07.115-000</p>
        <p class="local">(11) 98906-5193</p>
    </div>
</footer>