<header>
    <a class="logo align" href="/">
        <img src="/src/logo_dark.png" alt="">
    </a>
    <form class="search-bar" action="">
        <input type="text" name="search" id="search" placeholder="Pesquisar">
        <button type="submit">
            <i class="fi fi-rr-search"></i>
        </button>
    </form>
    <div class="icons align">
        <% if(user == undefined){ %>
            <a class="user" href="/login">
                <i class="fi fi-rr-user"></i>
                <p>OLÁ, FAÇA O LOGIN <br> EM SUA CONTA</p>
            </a>
        <% }else{ %>
            <a class="user" href="/profile">
                <i class="fi fi-rr-user"></i>
                <p>OLÁ, <%= user.name.split(' ')[0].toUpperCase() %></p>
            </a>
        <% } %>
        <a class="cart" href="/">
            <i class="fi fi-rr-shopping-cart"></i>
            <p>Seu carrinho <br> R$ 00,00</p>
        </a>
        <button class="menu" onclick="toggle(true)">
            <i class="fi fi-rr-menu-burger"></i>
        </button>
    </div>
</header>