<header>
    <div class="header-container">
        <figure class="logo_container">
            <a href="/">
                <img src="/src/bossi.png" alt="">
            </a>
        </figure>
        <div class="header-search-bar">
            <input type="text"><button><i class="fi fi-rs-search"></i></button>
        </div>
        <div class="header-user-interface">
            <div class="header-login">
                <a href="/profile"><i class="fi fi-rr-user G"></i>
                    <div>
                        <p>Olá</p> <strong><%= user.name.split(" ")[0] + " " +user.name.split(" ")[1]%></strong>
                    </div>
                </a>
            </div>
            <div class="header-carrinho">
                <a href="/carrinho">
                    <div>
                        <i class="fi fi-rr-shopping-cart"></i>
                    </div>
                    <div id="littlecar"></div>
                </a>
            </div>
        </div>
    </div>
    <div id="header-list">
        <a class="header-sections" href="/">Carne</a>
        <a class="header-sections" href="/">Margarinas</a>
        <a class="header-sections" href="/">Graõs</a>
        <a class="header-sections" href="/">Temperos</a>
        <a class="header-sections" href="/">Doces</a>
        <a class="header-sections" href="/">Bebidas</a>
        <a class="header-sections" href="/">Higiene</a>
        <a class="header-sections" href="/">Verduras</a>
        <a class="header-sections" href="/">Peixes</a>
        <a class="header-sections" href="/">Frutas</a>
    </div>
</header>