<header class="admin">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/admin/products">Produtos</a>
        </li>
        <li>
            <a href="/admin/users">Usuários</a>
        </li>
        <li>
            <a href="/admin/comments">Comentários</a>
        </li>
        <li>
            <a href="/admin/admins">Administradores</a>
        </li>
        <li>
            <a href="/admin/images">Imagens</a>
        </li>
        <li>
            <a href="/admin/refund">Reembolso</a>
        </li>
        <li>
            <a href="/admin/envio">Melhor Envio</a>
        </li>
        <li>
            <a href="/admin/etiqueta">Pagar Etiquetas</a>
        </li>
        <li>
            <a href="/admin/paying">Gerar/Imprimir Etiquetas</a>
        </li>
    </ul>
</header>