<header class="admin">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/admin/products">Produtos</a>
        </li>
        <li>
            <a href="/admin/users">Usuarios</a>
        </li>
        <li>
            <a href="/admin/comments">Comentarios</a>
        </li>
        <li>
            <a href="/admin/admins">Administradores</a>
        </li>
        <li>
            <a href="/admin/images">imagens</a>
        </li>
        <li>
            <a href="/admin/refund">reembolso</a>
        </li>
        <li>
            <a href="/admin/envio">Melhor Envio</a>
        </li>
        <li>
            <a href="/admin/etiqueta">Etiquetas</a>
        </li>
        <li>
            <a href="/admin/paying">Etiquetas a pagar</a>
        </li>
    </ul>
</header>