<ul>
    <li><a href="/profile/account">Minha conta</a></li>
    <li><a href="/profile/orders">Meus pedidos</a></li>
    <li><a href="/profile/consultas">Agendamentos</a></li>
    <li><a href="/profile/edit">Editar conta</a></li>
    <% if(user.hasAdmin){ %>
        <li><a href="/admin/users">Administrador</a></li>
    <% }if(user.hasFunc){ %>
        <li><a href="/consulta/orders">Funcionários</a></li>
    <% } %>%>
</ul>