<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/header_logged.ejs") %>
    <main>
        <div class="product-container itens-type">
            <div id="itens-container">
                <div id="itens-list">
                    <p>Carrinho de compras</p>
                    <hr>
                </div>
                <div id="summary">
                    <div class="summary-box">
                        <div class="summary-box-info">
                            <p>Frete</p>
                            <p id="frete">R$ 0,00</p>
                        </div>
                        <div class="summary-box-info">
                            <p>Total</p>
                            <p id="total">R$ 0,00</p>
                        </div>
                        <fieldset>
                            <legend>Frete</legend>
                            <div>
                                <input type="radio" class="normal" name="normal" onchange="total()" value="0" checked>
                                <label for="normal">Entrega normal <br><strong>gratis</strong> 7 - 9 dias</label>
                            </div>
                            <div>
                                <input type="radio" class="normal" name="normal" onchange="total()" value="5">
                                <label for="normal">Entrega express <br><strong>R$ 5.00</strong> 3 - 6 dias</label>
                            </div>
                            <div>
                                <input type="radio" class="normal" name="normal" onchange="total()" value="15">
                                <label for="normal">Entrega Super express <br><strong>R$ 15.00</strong> 1 dia</label>
                            </div>
                            <div>
                                <input type="radio" class="normal" name="normal" onchange="total()" value="70">
                                <label for="normal">Entrega insana <br><strong>R$ 70.00</strong> 1 hora</label>
                            </div>
                        </fieldset>
                        <button class="summary-box-button" onclick="window.location.href='/pagamento'">Finalizar Compra</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let itens = JSON.parse(localStorage.getItem("item"));

            render();
            total(0)
            function total(){
                itens = JSON.parse(localStorage.getItem("item"));

                let total = 0;
                let subtotal = 0; 
                let carrinho = 0

                for(let i = 0; i < document.getElementsByClassName("normal").length; i++){
                    if(document.getElementsByClassName("normal")[i].checked){
                        frete = parseFloat(document.getElementsByClassName("normal")[i].value)
                    }
                }

                itens.forEach(i => {
                    subtotal += parseFloat(i.price.replace(",", ".")) * i.qtd;
                    carrinho += parseInt(i.qtd);
                });

                total = subtotal + frete;

                document.getElementById("subtotal").innerHTML = `Subtotal (${carrinho} produtos): <strong>R$${subtotal.toFixed(2)}</strong>`;
                document.getElementById("frete").innerHTML = `R$${frete.toFixed(2)}`;
                document.getElementById("total").innerHTML = `R$${total.toFixed(2)}`;
            }
            function render(){
                let total = 0;
                for(let i = 0; i < itens.length; i++){
                    document.getElementById("itens-list").innerHTML += `
                        <div class="item">
                            <div class="img-container">
                                <img src="/products/${itens[i].img}">
                            </div>
                            <div class="desc-container">
                                <div>
                                    <p id="name-info">${itens[i].name}</p>
                                    <p id="preco-info">R$ ${itens[i].price}</p>
                                </div>
                                <div class="qtd">
                                    <button id="left" onclick="qtdButton(0,${itens[i].id},${i})"><i class="fi fi-rs-plus"></i></button>
                                    <input type="number" value="${itens[i].qtd}" id="qtd-input-${i}">
                                    <button id="right" onclick="qtdButton(1,${itens[i].id},${i})"><i class="fi fi-rr-minus-small"></i></button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    `;

                    if(i == itens.length -1){
                        document.getElementById("itens-list").innerHTML += `
                        <div class="summary-box-info">
                            <p id="subtotal"></p>
                        </div>
                        `
                    }
                }
            }
            function qtdButton(dir, id, val){
                let qtd = parseInt(document.getElementById("qtd-input-" + val).value);
                switch (dir){
                    case 0:
                        document.getElementById("qtd-input-" + val).value = qtd + 1;
                        break;
                    case 1:
                        if(qtd > 0){
                            document.getElementById("qtd-input-" + val).value = qtd - 1;
                        }
                        break;
                }
                item.findIndex(function(x, i){
                    if(x.id == id){
                        item[i].qtd = parseInt(document.getElementById("qtd-input-" + val).value);
                    }
                });

                if(qtd == 0){
                    for(let i = 0; i<item.length; i++){
                        item[i].name == document.getElementById("qtd-input-0").parentNode.parentNode.childNodes[1].childNodes[1].textContent ? item.splice(i, 1) : console.log("não encontrado");
                    }
                    console.log(item)
                    localStorage.setItem("item", JSON.stringify(item));
                    total()
                    location.reload();
                }
                
                localStorage.setItem("item", JSON.stringify(item));
                total()
            }
        </script>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>