<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/PC.css">
    <link rel="stylesheet" media="(max-width: 957px)" href="css/Mobile.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="script/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Supermercado A</title>
</head>
<body onload="">
    <header>
        <div class="header-container">
            <figure class="logo_container">
                <img src="src/bossi.png" alt="">
            </figure>
            <div class="header-search-bar">
                <input type="text"><button><i class="fi fi-rs-search"></i></button>
            </div>
            <div class="header-login">
                <a href="/login"><i class="fi fi-rr-user G"></i>
                    <div>
                        Olá faça <strong>Login</strong> ou <br> se <strong> se cadastre </strong>
                    </div>
                </a>
            </div>
            <div class="header-carrinho">
                <a href="/carrinho">
                    <div>
                        <i class="fi fi-rr-shopping-cart"></i>
                    </div>
                    <div>0<br>Item</div>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="product-container">
            <div class="product-text">
                <h3>Carne</h3>
                <h3>Veja Mais</h3>
            </div>
            <div class="product-cards-cotainer">
                <div class="product-cards">
                    <img src="products/img1.png" alt="">
                    <div>
                        <p class="product-price">R$ 00.00 <br>Nome do Produto</p>
                    </div>
                    <button class="product-button">Adicionar</button>
                </div>
                <div class="product-cards">
                    <img src="products/img1.png" alt="">
                    <div>
                        <p class="product-price">R$ 00.00 <br>Nome do Produto</p>
                    </div>
                    <button class="product-button">Adicionar</button>
                </div>
                <div class="product-cards">
                    <img src="products/img1.png" alt="">
                    <div>
                        <p class="product-price">R$ 00.00 <br>Nome do Produto</p>
                    </div>
                    <button class="product-button">Adicionar</button>
                </div>
                <div class="product-cards">
                    <img src="products/img1.png" alt="">
                    <div>
                        <p class="product-price">R$ 00.00 <br>Nome do Produto</p>
                    </div>
                    <button class="product-button">Adicionar</button>
                </div>
                <div class="product-cards">
                    <img src="products/img1.png" alt="">
                    <div>
                        <p class="product-price">R$ 00.00 <br>Nome do Produto</p>
                    </div>
                    <button class="product-button">Adicionar</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>