<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="(orientation: landscape)" href="/css/desktop.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Gauto Clinic</title>
</head>
<body>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="banner">
            <img src="/src/gauto_pose1.jpg" alt="">
        </div>
        <div class="itens">
            <a class="item" href="/produtos/higiene">
                <img src="/src/faciais.png" alt="">
                <p>Produtos Faciais</p>
            </a>
            <a class="item" href="/produtos">
                <img src="/src/pose.png" alt="">
                <p>Agende sua consulta</p>
            </a>
            <a class="item disable" href="/produtos" >
                <img src="/src/cursos.png" alt="">
                <p>Cursos</p>
            </a>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>