<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/header.ejs") %>
    <main>
        <div class="info">
            <div class="who">
                <div class="img-container">
                    <img src="/src/logo.png" alt="">
                </div>
                <h1>Sobre Gautoclinic</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cumque soluta tenetur beatae eos, ullam libero, consectetur veritatis fuga, nulla inventore commodi consequatur itaque natus velit corporis quia animi! Suscipit amet fugit fuga nam voluptas eos eum laborum laudantium totam quidem reprehenderit consequuntur dignissimos recusandae, nesciunt tenetur, esse porro minus harum, nulla excepturi libero odio doloribus. Unde doloribus quis a libero asperiores nemo dolorem cum alias, ad consectetur laudantium voluptatem ipsam quisquam? Deserunt similique reprehenderit adipisci autem, neque quibusdam ipsa, rem doloremque explicabo esse fuga id doloribus. Et nobis non officiis minus atque veritatis, velit sed pariatur alias harum possimus mollitia quia doloribus quod provident eius fugiat voluptatibus voluptatem facere. Amet animi soluta quisquam laborum blanditiis est eaque molestias magnam earum perspiciatis maxime, voluptatum pariatur fugiat reiciendis sit vero esse eligendi in error dolor quos. Debitis quisquam autem qui sint, id mollitia tempora quibusdam omnis expedita magni, atque ad reiciendis?</p>
            </div>
            <div class="info-container">
                <div class="goal">
                    <h1>Nossa Meta</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="compromise">
                    <h1>Compromissos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
                <div class="principles">
                    <h1>Principios</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat praesentium doloribus corrupti maiores officiis, nisi provident aliquid sequi libero fugiat nostrum ut fuga enim, distinctio magnam fugit velit assumenda hic voluptatibus suscipit ducimus doloremque. Tenetur maxime saepe sequi nulla totam.</p>
                </div>
            </div>
        </div>
    </main>
    <%- include ("partials/footer.ejs") %>
</body>
</html>