<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página de Login</title>
</head>
<body>
    <%- include ("partials/alert.ejs") %>
    <body>
        <img class="wave" src="/src/wave.png">
        <div class="container">
            <div class="img">
                <img src="/src/logo.png">
            </div>
            <div class="login-content">
                <form method="post" action="/user/login">
                    <img src="/src/logo.png">
                    <h2 class="title">Bem Vindo</h2>
                       <div class="input-div one">
                          <div class="i">
                                  <i class="fas fa-user"></i>
                          </div>
                          <div class="div">
                                  <h5>E-mail</h5>
                                  <input type="text" name="email" class="input">
                          </div>
                       </div>
                       <div class="input-div pass">
                          <div class="i"> 
                               <i class="fas fa-lock"></i>
                          </div>
                          <div class="div">
                               <h5>Senha</h5>
                               <input type="password" name="password" class="input">
                       </div>
                    </div>
                    <div class="n-user">
                        <a href="/user/esqueceuSenha">Esqueceu sua senha?</a>
                        <a href="/user/register">Novo por aqui?</a>
                    </div>
                    <input type="submit" class="btn" value="Login">
                </form>
            </div>
        </div>
        <script type="text/javascript" src="./script/scriptLogin.js"></script>
    </body>
    </html>
