<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"></script>
    <%- include ("partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
  <%- include ("partials/alert.ejs") %>
    <div id="sumup-card"></div>
    <script
      type="text/javascript"
      src="https://gateway.sumup.com/gateway/ecom/card/v2/sdk.js"
    ></script>
    <script type="text/javascript">
      SumUpCard.mount({
        id: 'sumup-card',
        checkoutId: '<%= data[0].id %>',
        onResponse: function (type, body) {
          console.log('Type', type);
          console.log('Body', body);
        },
      });
    </script>
</body>
</html>