<!DOCTYPE html>
<html lang="en">
    <%- include ("partials/head.ejs") %>
<body onload="">
    <%- include ("partials/header_logged.ejs") %>
    <main>
        <script src="/script/script.js"></script>
        <div class="profile-container">
            <div class="profile-main">
                <div class="profile-img">
                    <i class="fi fi-rr-user user-profile"></i>
                </div>
                <div class="profile-info">
                    <h1 class="profile-info-name"><%= user.name %></h1>
                    <p class="profile-info-email"><%= user.email %></p>
                </div>
            </div>
        </div>
    </main>
    <script>
        let item;
        if( localStorage.getItem("item") != null){
            item = JSON.parse(localStorage.getItem("item"));
        }else{
            item = [{name: "Nenhum item no carrinho"}]
        }
        console.log(item);
        for(let i = 0; i < item.length; i++){
            console.log(item[i]);
            $("#profile-littlecar").append(`
            <div class="profile-littlecar-item">
                <img src="src/img${item[i].id}.png" alt="Foto do Produto" class="profile-littlecar-item-img">
                <p>${item[i].name}</p>
                <p>${item[i].price}</p>
            </div>
            `);
        }
    </script>
</body>
</html>