<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Perfil do Usuário</title>
</head>
<body>
    <div class="profile-container">
        <div class="profile-box">
            <img src="profile-picture.jpg" alt="Foto de Perfil" class="profile-picture">
            <h1><%= user.name %></h1>
            <p>Email: <%= user.email %></p>
        </div>
    </div>
</body>
</html>
