:root{
    --secodary-color: #d6d6d6
}
h1,h2,p,i,a{
    color: black;
}
footer h1,footer h2,footer p,footer i{
    color: black;
}
button:active, input[type="submit"]:active, input[type="button"]:active{
    transform: scale(0.95);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height:100%;
    position: relative;
}
input{
    font-family: "Inter", sans-serif;
}
.disable{
    display: none;
}
a{
    text-decoration: none;
}
header{
    color: var(--secodary-color);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 75px;
}
header.admin{
    position: fixed;
    width: 100%;
    background-color: white;
}
header .align{
    width: 370px;
}
header .icons a.user p{
    min-width: 124px;
}
header .icons a.cart p{
    min-width: 78px;
}
header .icons, header .icons a, header .icons button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    border: 0;
    border-radius: 5px;
}
header .icons button{
    padding-top: 15px;
    padding-bottom: 15px;
}
header .icons a i{
    padding-right: 5px;
}
header .icons a:hover, header .icons button:hover{
    filter: brightness(90%);
}
.icons button:active{
    transform: scale(0.80);
}
header .icons a, header .icons button{
    transition: 220ms ease-in-out;
}
header .logo, .logo img{
    height: 100%;
}
header .search-bar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 50px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
header .search-bar input{
    height: 100%;
    width: 80%;
    padding: 0;
    border: 0;
}
input:focus{
    outline: none;
}
header .search-bar button{
    height: 100%;
    width: 16%;
    padding: 0;
    border: 0;
    margin-right: -5%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 10%);
}
header .search-bar button:active{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}
header i{
    font-size: larger;
}
header p{
    text-align: left;   
    font-size: small;
}
main{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
main.table{
    align-items: start;
    padding-top: 75px;
    min-height: 1px;
}
main.frete{
    padding-top: 75px;
    min-height: 1px;
}
main > div{
    margin-top: 15px;
}
main .banner{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
main .banner img{
    width: 100%;
    margin-top: -1100px;
}
main .itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}
main .itens .item{
    --item-size: 200px;
    width: var(--item-size);
    height: var(--item-size);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}
.rate img{
    width: 20px;
    height: 20px;
}
main .itens .item img{
    height: 100%;
    filter: brightness(85%)
}
main .itens .item p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
main .itens .item:hover img{
    transform: scale(1.1);
    filter: brightness(100%);
}
main .itens .item img {
    transition: 220ms ease-in-out;
}
main .product{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 200px;
    margin: 15px;
}
main .product p{
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main a.product{
    color: var(--secodary-color);
}
main .product .image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    transition: 220ms ease-in-out;
    display: flex;
    justify-content: center;
}
main .product .image img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
main .product div.buy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .product div.buy button{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: black;
    transition: 50ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
main .product div.buy button:active{
    scale: 0.95;
}
main .product:hover img{
    filter: brightness(90%);
}
.price.descount{
    text-decoration: line-through;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    background-color: var(--secodary-color);
    color: black;
    width: 100%;
    height: 350px;
}
footer .newsletters{
    min-width: 150px;
    max-width: 450px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .newsletters form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
footer .newsletters input, footer .newsletters button{
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
}
footer .newsletters button{
    width: 100px;
}
footer .newsletters input{
    width: calc(100% - 125px);
    padding-left: 25px;
}
footer .newsletters p{
    margin-top: 0;
    font-size: x-large;
}
footer .insta i{
    color: black;
    font-size: xx-large;
    margin-top: 9px;
    margin-right: 8px;
}
footer .insta{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: fit-content;
}
footer .menssages p{
    margin: 2px;
}
footer>div{
    width: 33%;
}
footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer .social a{
    color: black;
}
footer .insta>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer .insta p{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    position: fixed;
    width: 0;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}
nav ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: white;
    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
nav ul li, nav ul form{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--secodary-color);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secodary-color);
}
nav ul li a{
    color: black;
}
nav ul input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: medium;
    font-family: "Inter", sans-serif;
    color: rgb(255, 62, 62);
    font-weight: bold;
}
nav ul li:hover{
    background-color: #f4f4f2;
}
main .item-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    max-width: 1500px;
    width: 100%;
    min-width: 1100px;
    margin-top: 100px;
}
.item-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
}
.item-images .image-list{
    width: calc(500px/3);
    height: 500px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.image-list .mini-image{
    width: calc(500px/3);
    height: calc(500px/3);
    scroll-snap-align: center;
}
.image-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.image-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.item .desc-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 550px;
    min-width: 430px;
    padding-right: 10px;
}
.item .desc-container p{
    margin: 0;
    padding: 0;
}
.item .desc-container p#name-info{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .item-images div{
    --img-size: 500px;
    width: var(--img-size);
    height: var(--img-size);
    overflow: hidden;
}
main .item-images div img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.item-container .item-info{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 25%;
}
.item-container .item-name{
    min-width: 350px;
    font-size: 30px;
    font-weight: bolder;
    overflow: hidden;
    white-space: wrap;
}
.item-container .item-rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-rate .item-stock{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.item-rate .item-stock .instock{
    color: green;
}
.item-rate .item-stock .outstock{
    color: red;
}
.item-rate .item-stock p{
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    margin-left: 3px;
}
.rate{
    display: flex;
    flex-direction: row;
}
.item-rate .item-stock i{
    margin-top: 4px;
}
.image-sidebar:hover{
    filter: brightness(90%);
}
button.item-buy{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: black;
    transition: 50ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
button.item-buy:active{
    scale: 0.95;
}
.item-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;

}
.item-rating{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}
.item-rating .avg{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.sec-container{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.desc-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.desc-sec button{
    width: calc(100% / 3);
    height: 35px;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
}
.desc-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.sec{
    display: none;
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px;
    text-align: justify;
}
.sec.active{
    display: unset;
}
.item-benefit p{
    text-align: justify;
}
.appraisal-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 150px);
    border-left: 1px solid var(--secodary-color);
    padding-left: 10px;
}
.comment-form, .comment-form form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.comment-form form textarea{
    width: 86%;
    height: 100%;
    border: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    resize: none;
    background-color: #cccccc;
    padding-top: 10px;
    
}
.comment-form form input[type="submit"]{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
    margin-bottom: 5px;
}
.comment-form form textarea:focus{
    outline: none;
}
.comment-form form input[type="submit"]:active{
    scale: 0.95;
}
.product-container{
    width: 80%;
    margin-top: 100px;
}
.summary-box-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}
.summary-box-info>div{
    display: flex;
    flex-direction: row;
}
.summary-box-cep label{
    margin-top: 15px;
    margin-bottom: 15px;
}
.summary-box-cep input{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;

}
.summary-box-cep{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
}
.box-itens-name{
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#itens-container{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#itens-container #itens-list{
    width: calc(70% - 240px);

}
#itens-list{
    min-width: 550px;
}
#itens-container #summary{
    min-width: 350px;
    margin-left: 15px;
    margin-bottom: 15px;
}
#itens-container #itens-list .item{
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.img-container{
    width: 150px;
    height: 150px;
    min-width: 122px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.desc-container .qtd{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}
.desc-container .qtd input , .desc-container .qtd button{
    padding: 0;
    margin: 0;
    border: 0;
}
.desc-container .qtd button{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: var(--secodary-color);
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
.desc-container .qtd button:active{
    background-color: #4c4c4c;
}
.desc-container .qtd input{
    height: 30px;
    width: calc(100% - 30px);
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
}
.summary-box-button{
    margin-top: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
.account-container table td.mobile{
    display: none;
}
.account-container table td.desktop{
    display: table-cell;
}
.mobile-table{
    display: none;
}
table.green-table{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
    border-collapse: collapse;
}
.green-table tr:nth-child(2n){
    background-color: #f4f4f2;
}
.green-table tr{
    justify-content: start;
    align-items: start;
    flex-direction: row;
    background-color: #ffffff;
    margin: 0;
    border-bottom: 1px solid lightgray;
    height: 35px;
}
.green-table tr img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.green-table tr button, .green-table tr a{
    background-color: #ff5454;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    width: 100%;
}
.green-table tr button:hover, .green-table tr a:hover{
    background-color: #cc4343;
    color: white;
}
.green-table tr button:active, .green-table tr a:active{
    background-color: #ff5454;
}
.green-table tr i{
    color: white;
    width: 100%;
}
.green-table tr:hover{
    color: #009979;
}
.green-table td{
    width: min-content;
    max-width: 100px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.green-table td input[type="file"]{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);

}
.green-table th{
    background-color: #009979;
    color: white;
}
.green-table td, th{
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(auto - 20px);
    border: 1px solid rgba(0, 0, 0, 0.15);
}
header.admin ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}
header.admin li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color: #009979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
header.admin li a{
    color: white;
}
header.admin li:hover{
    background-color: #00bf97;
}
.green-table input{
    width: 100%;
    min-width: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.info .who{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 530px;
}
.info p{
    text-align: justify;
}
.info .info-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
}
.info-container> div{
    width: 30%;
    min-width: 400px;
    text-align: start;
}
.alert-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);;
    z-index: 2;
}
.alert-container .alert{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}
.alert button{
    margin-top: 10px;
    width: 50px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
.alert button:active{
    scale: 0.95;
}

#frete-form .input-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
#frete-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.input-container,
.check-container {
    margin-bottom: 15px;
}

#frete-form label {
    margin-bottom: 5px;
}

#frete-form input[type="text"],
#frete-form input[type="checkbox"],
#frete-form input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#frete-form input[type="checkbox"] {
    margin-right: 10px;
}

#frete-form fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#frete-form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

#frete-form input[type="submit"] {
    background-color: #315292;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#frete-form input[type="submit"]:hover {
    background-color: #223966;
}

.profile-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}
.profile-container .navlist{
    margin-top: 75px;
    width: 15%;
}
.profile-container .account-info{
    width: 80%;
}
.account-info{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.profile-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile-container ul li{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.profile-container ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container a{
    min-width: 115px;
}
.profile-container.frete{
    justify-content: space-evenly;
    height: 450px;
    flex-wrap: wrap;
    margin-top: 150px;
}
.frete #summary{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 250px;
    align-items: end;
}.frete #summary h1{
    width: 100%;
}
.frete #summary .summary-box{
    width: 100%;
}
.info-contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.info-contaner h2{
    width: 95%;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.end-container p, .end-container h1{
    margin: 2px;
    padding: 0;
}
.end-container{
    margin: 25px;
}
.account-info .input-container{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 15px;
}
.account-info form{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.account-info form h2{
    width: 95%;
    text-align: start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.account-info .input-container input[type="text"]{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}
.account-info .input-container input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: black;
    transition: 50ms ease-in-out;
}
.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.frete-img{
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frete-img img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  80%;
    max-height:  80%;
}
.account-container.frete{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-width: 590px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
#calcularFrete{
    background-color: #bdbdbd;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin-top: 1%;
}
#checkboxComplemento{
    display: flex ;
    flex-direction: row;
    width: 135px;
    flex-wrap: nowrap;
}
#chkComplemento{
    display: flex ;
    flex-wrap: nowrap;
}
.account-container.table{
    width: 90%;
}
.account-container table{
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
.account-container table tr{
    height: 50px;
}
.account-container table tr:first-child{
    background-color: black;
    color: white;
    border-radius: 5px 5px 0 0 ;
}
.account-container table th{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
} 
.account-container table td{
    text-align: center;
}.account-container table td:hover{
    background-color: #f4f4f2;
}
.account-container table .total{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.account-container.single{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
}
.single>div.information{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.single>div.information div{
    margin: 10px;
    margin-top: 0px;
}
.single .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single .button{
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
    padding: 15px;
    margin: 5px;
    font-size: small;
    width: 147px;
}
.single a.button {
    width: calc(145px - 30px);
    text-align: center;
}
.single .button:hover{
    background-color: #f4f4f2;
}
.comment-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.comment-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #315292;
}

.comment-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.comment-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

button.star-button {
    background: none;
    border: none;
    cursor: pointer;
}

.star-img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.star-img:hover,
.star-img.active {
    opacity: 1;
}

.comment-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    width: calc(100% - 20px);
    resize: none;
}

.comment-container input[type="number"],
.comment-container input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #315292;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-container input[type="submit"]:hover {
    background-color: #223966;
}

.comment-container input[type="number"] {
    display: none;
}
main.etiqueta{
    width: 1300px;
    margin: auto;
}
.Banner-envio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.Banner-envio .postilhado{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Banner-envio .postilhado hr{
    width: 100%;
    height: 0px;
    border: 1px dashed white;
}
.Banner-envio .postilhado p{
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    color: #000000;
}
.Banner-envio .localidade{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.Banner-envio p{
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    width: fit-content;
}
.Banner-envio .subline{
    font-weight: unset;
    font-size: small;
}
.Banner-envio .outline{
    font-weight: bolder;
}
.localidade .section{
    width: 35%;
}
.Banner-envio .local{
    width: 33%;
}
.Banner-envio .assurance{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.Banner-envio .assurance p{
    color: white;
}
.card{
    display: flex;
    width: calc(450px - 40px);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    border-radius: 5px;
    margin-bottom: 15px;
}
.card>div{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.card>div>div, .card>div>a{
    width: 100%;
}
.card>div>div img, .card>div>a img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  80%;
    max-height:  80%;
}
main.etiqueta .subline{
    font-weight: unset;
    font-size: small;
}
main.etiqueta .outline{
    font-weight: bolder;
}
.card p {
    width: fit-content;
    margin-top: 10px;
}
.etiqueta-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.etiqueta-to{
    width: calc(100% - 450px - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.etiqueta-to .dec{
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
}
.etiqueta-to .dec div{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.etiqueta-to .section{
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
}
.etiqueta-to .section h1{
    width: 100%;
    margin-top: 0;
}
.etiqueta-to .section input{
    width: calc(100% - 25px);
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    border-radius: 5px;
}
.etiqueta-to .section label{
    margin: 0;
    position: absolute;
    margin-left: -200px;
    margin-top: 3px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}
.section .item{
    margin: 15px;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.action form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.action input[type="submit"]{
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 5px;
}
.action .cancel input[type="submit"]{
    background-color: #ff5454;
    color: white;
    border: none;
}
.action .accept input[type="submit"]{
    background-color: #009979;
    color: white;
    border: none;
}
