body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height:100%;
    position: relative;
}
.disable{
    display: none;
}
a{
    text-decoration: none;
}
header{
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 75px;
}
header .align{
    width: 370px;
}
header .icons, header .icons a, header .icons button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    background-color: white;
    border: 0;
    border-radius: 5px;
}
header .icons button{
    padding-top: 15px;
    padding-bottom: 15px;
}
header .icons a i{
    padding-right: 5px;
}
header .icons a:hover, header .icons button:hover{
    filter: brightness(90%);
}
.icons button:active{
    transform: scale(0.80);
}
header .icons a, header .icons button{
    transition: 220ms ease-in-out;
}
header .logo, .logo img{
    height: 100%;
}
header .search-bar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 50px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;
}
header .search-bar input{
    height: 100%;
    width: 80%;
    padding: 0;
    border: 0;
}
input:focus{
    outline: none;
}
header .search-bar button{
    height: 100%;
    width: 16%;
    padding: 0;
    border: 0;
    margin-right: -5%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 10%);
}
header .search-bar button:active{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}
header i{
    font-size: larger;
}
header p{
    text-align: left;   
    font-size: small;
}
main{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
main > div{
    margin-top: 15px;
}
main .banner{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
main .banner img{
    width: 100%;
    margin-top: -1100px;
}
main .itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}
main .itens .item{
    --item-size: 200px;
    width: var(--item-size);
    height: var(--item-size);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}
main .itens .item img{
    height: 100%;
    filter: brightness(85%)
}
main .itens .item p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
main .itens .item:hover img{
    transform: scale(1.1);
    filter: brightness(100%);
}
main .itens .item img {
    transition: 220ms ease-in-out;
}
main .product{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 200px;
    margin: 15px;
}
main .product p{
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main a.product{
    color: black;
}
main .product .image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    transition: 220ms ease-in-out;
    display: flex;
    justify-content: center;
}
main .product .image img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
main .product div.buy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .product div.buy button{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
main .product div.buy button:active{
    scale: 0.95;
}
main .product:hover img{
    filter: brightness(90%);
}
.price.descount{
    text-decoration: line-through;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    background-color: black;
    color: white;
    width: 100%;
    height: 350px;
}
footer .newsletters{
    min-width: 150px;
    max-width: 450px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .newsletters form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
}
footer .newsletters input, footer .newsletters button{
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
}
footer .newsletters button{
    width: 100px;
}
footer .newsletters input{
    width: calc(100% - 125px);
    padding-left: 25px;
}
footer .newsletters p{
    margin-top: 0;
    font-size: x-large;
}
footer .insta i{
    color: white;
    font-size: xx-large;
    margin-top: 9px;
    margin-right: 8px;
}
footer .insta{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: fit-content;
}
footer .menssages p{
    margin: 2px;
}
footer>div{
    width: 33%;
}
footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer .social a{
    color: white;
}
footer .insta>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer .insta p{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    position: fixed;
    width: 0;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}
nav ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: white;
    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
nav ul li, nav ul form{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}
nav ul li a{
    color: #000000;
}
nav ul input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: medium;
    font-family: "Inter", sans-serif;
    color: rgb(255, 62, 62);
    font-weight: bold;
}
nav ul li:hover{
    background-color: #f4f4f2;
}
main .item-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1100px;
    margin-top: 100px;
}
main .item-images div{
    --img-size: 500px;
    width: var(--img-size);
    height: var(--img-size);
    overflow: hidden;
}
main .item-images div img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.item-container .item-info{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 25%;
}
.item-container .item-name{
    min-width: 350px;
    font-size: 30px;
    font-weight: bolder;
    overflow: hidden;
    white-space: wrap;
}
.item-container .item-rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-rate .item-stock{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.item-rate .item-stock .instock{
    color: green;
}
.item-rate .item-stock .outstock{
    color: red;
}
.item-rate .item-stock p{
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    margin-left: 3px;
}
.rate{
    display: flex;
    flex-direction: row;
}
.item-rate .item-stock i{
    margin-top: 4px;
}

button.item-buy{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
button.item-buy:active{
    scale: 0.95;
}
.item-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1100px;

}
.item-rating{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}
.item-rating .avg{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.appraisal-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 150px);
    border-left: 1px solid black;
    padding-left: 10px;
}
.comment-form, .comment-form form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.comment-form form textarea{
    width: 86%;
    height: 100%;
    border: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    resize: none;
    background-color: #cccccc;
    padding-top: 10px;
    
}
.comment-form form input[type="submit"]{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
    margin-bottom: 5px;
}
.comment-form form textarea:focus{
    outline: none;
}
.comment-form form input[type="submit"]:active{
    scale: 0.95;
}
.product-container{
    width: 1100px;
    margin-top: 100px;
}
#itens-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#itens-container #itens-list{
    width: 75%;
}
#itens-container #summary{
    width: 20%;
}
#itens-container #itens-list .item{
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.img-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.desc-container .qtd{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}
.desc-container .qtd input , .desc-container .qtd button{
    padding: 0;
    margin: 0;
    border: 0;
}
.desc-container .qtd button{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
.desc-container .qtd button:active{
    background-color: #4c4c4c;
}
.desc-container .qtd input{
    height: 30px;
    width: calc(100% - 30px);
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
}
.summary-box-button{
    margin-top: 15px;
    padding: 15px;
    border: 0;
    background-color: #000000;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
table.green-table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    width: fit-content;
    max-width: 80%;
    width: min-content;
}
.green-table tr:nth-child(2n){
    background-color: #f4f4f2;
}
.green-table tr{
    justify-content: start;
    align-items: start;
    flex-direction: row;
    background-color: #ffffff;
    margin: 0;
    border-bottom: 1px solid lightgray;
    height: 50px;
}
.green-table tr button{
    background-color: #ff5454;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;;
}
.green-table tr button:hover{
    background-color: #cc4343;
    color: white;
}
.green-table tr button:active{
    background-color: #ff5454;
}
.green-table tr:hover{
    color: #009979;
}
.green-table td{
    max-width: 150px;
    width: fit-content;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.green-table th{
    background-color: #009979;
    color: white;
}
.green-table td, th{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
header.admin ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}
header.admin li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color: #009979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
header.admin li a{
    color: white;
}
header.admin li:hover{
    background-color: #00bf97;
}
.green-table input{
    width: 100%;
    min-width: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.info .who{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 530px;
}
.info .info-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    text-align: center;
}
.info-container> div{
    width: 30%;
    min-width: 400px;
    text-align: start;
}