body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.disable{
    display: none;
}
header{
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 75px;
}
header .align{
    width: 370px;
}
header .icons, header .icons a, header .icons button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
    background-color: white;
    border: 0;
    border-radius: 5px;
}
header .icons button{
    padding-top: 15px;
    padding-bottom: 15px;
}
header .icons a i{
    padding-right: 5px;
}
header .icons a:hover, header .icons button:hover{
    filter: brightness(90%);
}
.icons button:active{
    transform: scale(0.80);
}
header .icons a, header .icons button{
    transition: 220ms ease-in-out;
}
header .logo, .logo img{
    height: 100%;
}
header .search-bar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 50px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;
}
header .search-bar input{
    height: 100%;
    width: 80%;
    padding: 0;
    border: 0;
}
header .search-bar input:focus{
    outline: none;
}
header .search-bar button{
    height: 100%;
    width: 16%;
    padding: 0;
    border: 0;
    margin-right: -5%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 10%);
}
header .search-bar button:active{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}
header i{
    font-size: larger;
}
header p{
    text-align: left;   
    font-size: small;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main > div{
    margin-top: 15px;
}
main .banner{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
main .banner img{
    width: 100%;
    margin-top: -1100px;
}
main .itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}
main .itens .item{
    --item-size: 200px;
    width: var(--item-size);
    height: var(--item-size);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}
main .itens .item img{
    height: 100%;
    filter: brightness(85%)
}
main .itens .item p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
main .itens .item:hover img{
    transform: scale(1.1);
    filter: brightness(100%);
}
main .itens .item img {
    transition: 220ms ease-in-out;
}
main .product{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 200px;
    margin: 15px;
}
main .product p{
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main .product .image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    transition: 220ms ease-in-out;
    display: flex;
    justify-content: center;
}
main .product .image img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
main .product div.buy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .product div.buy button{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
main .product div.buy button:active{
    scale: 0.95;
}
main .product:hover img{
    filter: brightness(90%);
}
.price.descount{
    text-decoration: line-through;
}