body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container, .profile-container {
    background-color: #999999;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur( 13.5px );
    background-color: rgba(255, 255, 255, 0.35);
    width: 420px;
}

.login-box, .profile-box {
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    color: #000;
    margin-bottom: 20px;
}

p {
    color: #000;
    margin-bottom: 10px;
}

.input-field {
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #000;
}

.input-field::placeholder {
    color: #000;
}

.login-button {
    background-color: #f7f7f7;
    color: #000;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.5);;
}
#profile-littlecar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-littlecar-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.profile-littlecar-item > img{
    max-width: 100%;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}