:root{
    --secodary-color: #d6d6d6;
}
h1,h2,p,i,a{
    color: black;
}
footer h1,footer h2,footer p{
    color: black;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height:100%;
    position: relative;
}
.disable{
    display: none;
}
a{
    text-decoration: none;
}
header{
    color: var(--secodary-color);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 150px;
}
header.admin{
    height: fit-content;
}
header .align{
    width: 370px;
}
header .icons, header .icons a, header .icons button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--secodary-color);
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
    border-radius: 5px;
}
header .icons button{
    padding-top: 15px;
    padding-bottom: 15px;
}
header .icons a i{
    padding-right: 5px;
}
header .icons a>p{
    display: none;
}
header .icons a:hover, header .icons button:hover{
    filter: brightness(90%);
}
.icons button:active{
    transform: scale(0.80);
}
header .icons a, header .icons button{
    transition: 220ms ease-in-out;
}
header .logo{
    height: 30%;
}
.logo img{
    height: 100%;
}
header .search-bar{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    height: 50px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
header .search-bar input{
    height: 100%;
    width: 80%;
    padding: 0;
    border: 0;
}
input:focus{
    outline: none;
}
header .search-bar button{
    height: 100%;
    width: 16%;
    padding: 0;
    border: 0;
    margin-right: -5%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 10%);
}
header .search-bar button:active{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}
header i{
    font-size: larger;
}
header p{
    text-align: left;   
    font-size: small;
}
main{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
main > div{
    margin-top: 15px;
}
i.banner {
	position: relative;
	display: block;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

i.banner:before, i.banner:after {
	content: '⥪';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: var(--secodary-color);
	color: black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i.banner:after {
	content: '⥭';
	left: auto;
	right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
i.banner input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
    margin: 0;
}

i.banner input:focus {
	outline: none;
}

i.banner input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
}

i.banner input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

i.banner input:checked:before {
	display: none;
	left: 1rem;
}

i.banner input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

i.banner input:checked + input:before {
	left: -3rem;
}

i.banner input:checked + input ~ input:before {
	display: none;
}
main .itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}
main .itens .item{
    --item-size: 200px;
    width: var(--item-size);
    height: var(--item-size);
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}
main .itens .item img{
    height: 100%;
    filter: brightness(85%)
}
main .itens .item p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
main .itens .item:hover img{
    transform: scale(1.1);
    filter: brightness(100%);
}
main .itens .item img {
    transition: 220ms ease-in-out;
}
.rate img{
    width: 20px;
    height: 20px;
}
main .product{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 200px;
    margin: 15px;
}
main .product p{
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
main a.product{
    color: var(--secodary-color);
}
main .product .image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    transition: 220ms ease-in-out;
    display: flex;
    justify-content: center;
}
main .product .image img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
main .product div.buy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .product div.buy button{
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: black;
    transition: 50ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
main .product div.buy button:active{
    scale: 0.95;
}
main .product:hover img{
    filter: brightness(90%);
}
.price.descount{
    text-decoration: line-through;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--secodary-color);
    color: black;
    width: 100%;
    height: 550px;
}
footer .newsletters{
    min-width: 265px;
    max-width: 450px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .newsletters form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
footer .newsletters input, footer .newsletters button{
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
}
footer .newsletters button{
    width: 100px;
}
footer .newsletters input{
    width: calc(100% - 125px);
    padding-left: 25px;
}
footer .newsletters p{
    margin-top: 0;
    font-size: x-large;
}
footer .insta i{
    color: black;
    font-size: xx-large;
    margin-top: 9px;
    margin-right: 8px;
}
footer .insta{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: fit-content;
}
footer .menssages p{
    margin: 2px;
}
footer .menssages{
    min-width: 175px;
}
footer>div{
    width: 80%;
}
footer .social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer .social a{
    color: black;
}
footer .insta>a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
footer .insta p{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    position: fixed;
    width: 0;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 3;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
}
nav ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: white;
    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
nav ul li, nav ul form{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--secodary-color);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secodary-color);
}
nav ul li a{
    color: black;
}
nav ul input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: medium;
    font-family: "Inter", sans-serif;
    color: rgb(255, 62, 62);
    font-weight: bold;
}
nav ul li:hover{
    background-color: #f4f4f2;
}
main .item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 100px;
}
.item-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.item-images .image-list{
    display: flex;
    justify-content: start;
    height: calc(500px/3);
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.image-list .mini-image{
    width: calc(500px/3);
    min-width: calc(500px/3);
    height: calc(500px/3);
    min-height: calc(500px/3);
    scroll-snap-align: center;
}
main .item-images .mini-image img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.image-list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.image-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.item-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;

}
main .item-images div{
    --img-size: 500px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .item-images div img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  80%;
    max-height:  80%;
}
.item-container .item-info{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.item-container .item-name{
    max-width: 100%;
    font-size: 1.875rem;
    font-weight: bolder;
    overflow: hidden;
    white-space: wrap;
}
.item-container .item-rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-rate .item-stock{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.item-rate .item-stock .instock{
    color: green;
}
.item-rate .item-stock .outstock{
    color: red;
}
.item-rate .item-stock p{
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
    margin-left: 3px;
}
.rate{
    display: flex;
    flex-direction: row;
}
.item-rate .item-stock i{
    margin-top: 4px;
}

button.item-buy{
    margin-top: 10px;
    width: 120px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: black;
    transition: 50ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.20);
}
.image-sidebar:hover{
    filter: brightness(90%);
}
button.item-buy:active{
    scale: 0.95;
}
.item-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;

}
.item-rating{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}
.item-rating .avg{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.sec-container{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.desc-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.desc-sec button{
    width: calc(100% / 3);
    height: 35px;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
}
.desc-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.sec{
    display: none;
    background-color: white;
    width: calc(100% - 40px);
    padding: 20px;
}
.sec.active{
    display: unset;
}
.item-benefit{
    background: rgb(255,239,161);
    background: linear-gradient(45deg, rgba(255,239,161,1) 0%, rgba(206,155,54,1) 33%, rgba(206,155,54,1) 67%, rgba(255,239,161,1) 100%); 
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.item-benefit li{
    text-align: justify;
    margin-top: 15px;
}
.item-benefit ul{
    padding-left: 10px;
}
.appraisal-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 150px);
    border-left: 1px solid var(--secodary-color);
    padding-left: 10px;
    margin-top: 15px;
    width: 100%;
}
.comment-form, .comment-form form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.comment-form form textarea{
    width: 86%;
    height: 100%;
    border: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    resize: none;
    background-color: #cccccc;
    padding-top: 10px;
    
}
.comment-form form input[type="submit"]{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
    margin-bottom: 5px;
}
.comment-form form textarea:focus{
    outline: none;
}
.comment-form form input[type="submit"]:active{
    scale: 0.95;
}
.product-container{
    width: 95%;
    margin-top: 100px;
}
.summary-box-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}
.summary-box-info>div{
    display: flex;
    flex-direction: row;
}
.summary-box-cep label{
    margin-top: 15px;
    margin-bottom: 15px;
}
.summary-box-cep input{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;

}
.summary-box-cep{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 10px;
}
.box-itens-name{
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#itens-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
#itens-container #itens-list{
    width: 100%;
    min-width: 315px;
}
#itens-container #summary{
    width: 20%;
    min-width: 315px;
    margin-bottom: 15px;
}

#itens-container #itens-list .item{
    height: 150px;
    min-width: 315px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.img-container{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    min-width: 122px;
    justify-content: center;
    align-items: center;
}
.img-container img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.desc-container .qtd{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}
.desc-container .qtd input , .desc-container .qtd button{
    padding: 0;
    margin: 0;
    border: 0;
}
.desc-container .qtd button{
    width: 30px;
    height: 30px;
    border: 0;
    background-color: var(--secodary-color);
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
.desc-container .qtd button:active{
    background-color: #4c4c4c;
}
.desc-container .qtd input{
    height: 30px;
    width: calc(100% - 30px);
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
}
.summary-box-button{
    margin-top: 15px;
    padding: 15px;
    border: 0;
    background-color: black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
table.green-table{
    display: none;
}
div.mobile-table{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
.mobile-table p,.mobile-table form, .mobile-table input{
    height: 50px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mobile-table input{
    margin:  0;
    padding: 0;
    border: 0;
    width: 100%;
}
.mobile-table input[type="text"]{
    width: calc(100% - 15px);
    padding-left: 15px;
}
input:nth-child(2n){
    background-color: #f4f4f2;
}
.mobile-table form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-table button, .mobile-table a{
    background-color: #ff5454;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;;
}
.mobile-table button:hover, .mobile-table a:hover{
    background-color: #cc4343;
    color: white;
}
.mobile-table button:active, .mobile-table a:active{
    background-color: #ff5454;
}
.mobile-table .header{
    width: 25vw;
    color: white;
    background-color: #00bf97;
}
.mobile-table .content{
    width: 75vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    overflow-x: hidden;
}
.mobile-table .header p,.mobile-table .header form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-table .content .window{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.mobile-table .content>div>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f2;
    scroll-snap-align: center;
}
.window>div>p:nth-child(2n){
    background-color: #fff;
}
.mobile-table .content p{
    width: calc(75vw - 15px);
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}
header.admin ul{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0% ;
}
.alert-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);;
    z-index: 2;
}
.alert-container .alert{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
}
.alert button{
    margin-top: 10px;
    width: 50px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: rgb(255, 255, 255);
    transition: 50ms ease-in-out;
}
.alert button:active{
    scale: 0.95;
}

header.admin li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color: #009979;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
}
header.admin li a{
    color: white;
}
header.admin li:hover{
    background-color: #00bf97;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;

}
.info .who{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 90vw;
    text-align: justify;
}
.info .info-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}
.info-container> div{
    width: 30%;
    min-width: 90vw;
    text-align: start;
}
.info-container p{
    text-align: justify;
}
.profile-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-container .navlist{
    width: 80%;
}
.profile-container .account-info{
    width: 80%;
}
.account-info{
    min-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.profile-container ul li{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.profile-container ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.info-contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 360px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}
.info-contaner h2{
    width: 90%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
}
.info-contaner>p{
    margin-bottom: 30px;
}
.information > div > p{
margin-top: 5px;
}
.information > div > div > p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.account-info .destinatario p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.account-info .destinatario p:first-child{
    margin-top: 30px;
}
.account-info form h2{
    width: 95%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 5px;
}
.end-container p, .end-container h1{
    margin: 2px;
    padding: 0;
}
.end-container{
    margin: 25px;
}
.account-info .input-container{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 15px;
}
.account-info form{
    width: calc(100% - 20px);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    padding: 10px;
}
.account-info .input-container input[type="text"]{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}
.account-info .input-container input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--secodary-color);
    color: black;
    transition: 50ms ease-in-out;
}
.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#frete-form .input-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
#frete-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.input-container,
.check-container {
    margin-bottom: 15px;
}

#frete-form label {
    margin-bottom: 5px;
}

#frete-form input[type="text"],
#frete-form input[type="checkbox"],
#frete-form input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#frete-form input[type="checkbox"] {
    margin-right: 10px;
}

#frete-form fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#frete-form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

#frete-form input[type="submit"] {
    background-color: #315292;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#frete-form input[type="submit"]:hover {
    background-color: #223966;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
.account-container.table{
    width: 100%;
}
.account-container.table table{
    font-size: small;
}
.account-container.table table .total{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.account-container table{
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
.account-container table tr{
    height: 50px;
}
.account-container table tr:first-child{
    background-color: black;
    color: white;
    border-radius: 5px 5px 0 0 ;
}
.account-container table th, .account-container table td{
    display: none;
}
.account-container table th.mob-only{
    display: table-cell;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
} 
.account-container table td.mob-only{
    display: table-cell;
    text-align: center;
}
.account-container table td.mobile{
    display: table-cell;
}
.account-container table td.desktop{
    display: none;
}
.account-container table td:hover{
    background-color: #f4f4f2;
}
.account-container.single{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}
.single>div.information{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.single>div.information div{
    margin: 10px;
    margin-top: 0px;
    margin-left: 0;
}
.single .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single .button{
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
    padding: 15px;
    margin: 5px;
    font-size: small;
    width: 147px;
}
.single a.button {
    width: calc(145px - 30px);
    text-align: center;
}
.single .button:hover{
    background-color: #f4f4f2;
}
.profile-container.frete{
    justify-content: center;
    height: 450px;
    flex-direction: column;
    width: 100%;
}
.frete #summary{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 250px;
    align-items: end;
}.frete #summary h1{
    width: 100%;
}
.frete #summary .summary-box{
    width: 100%;
}
.frete-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 50px;
}
.frete-img img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  80%;
    max-height:  80%;
}
.account-container.frete{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 35px;
    min-width: 360px;
    width: calc(100% - 40px);
}
.account-container.frete table th, .account-container.frete table td{
    display: table-cell;
    text-align: center;
}

.account-container.frete table{
    font-size: small;
}
#calcularFrete{
    background-color: #bdbdbd;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin-top: 1%;
}
.account-container.single{
    display: flex;
    justify-content: center;
    align-items: start;
}
.comment-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.comment-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #315292;
}

.comment-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.comment-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

button.star-button {
    background: none;
    border: none;
    cursor: pointer;
}

.star-img {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.star-img:hover,
.star-img.active {
    opacity: 1;
}

.comment-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    width: calc(100% - 20px);
    resize: none;
}

.comment-container input[type="number"],
.comment-container input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #315292;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-container input[type="submit"]:hover {
    background-color: #223966;
}

.comment-container input[type="number"] {
    display: none;
}
main.etiqueta{
    width: 100%;
    margin: auto;
}
.Banner-envio{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.Banner-envio div{
    margin: 15px;
}
.Banner-envio .postilhado{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Banner-envio .postilhado hr{
    width: 100%;
    height: 0px;
    border: 1px dashed white;
}
.Banner-envio .postilhado p{
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    color: #000000;
}
.Banner-envio .localidade{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.Banner-envio p{
    color: white;
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    width: fit-content;
}
.Banner-envio .subline{
    font-weight: unset;
    font-size: small;
}
.Banner-envio .outline{
    font-weight: bolder;
}
.localidade .section{
    width: 100%;
}
.Banner-envio .local{
    width: calc(100% - 15px);
}
.Banner-envio .assurance{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Banner-envio .assurance p{
    color: white;
}
.card{
    display: flex;
    width: calc(100% - 40px);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    border-radius: 5px;
    margin-bottom: 15px;
}
.card>div{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.card>div>div, .card>div>a{
    width: 100%;
}
.card>div>div img, .card>div>a img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  80%;
    max-height:  80%;
}
main.etiqueta .subline{
    font-weight: unset;
    font-size: small;
}
main.etiqueta .outline{
    font-weight: bolder;
}
.card p {
    width: fit-content;
    margin-top: 10px;
}
.etiqueta-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}
.etiqueta-to{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.etiqueta-to .dec{
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
}
.etiqueta-to .dec div{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.etiqueta-to .section{
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.25);
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
}
.etiqueta-to .section h1{
    width: 100%;
    margin-top: 0;
}
.etiqueta-to .section input{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
    border-radius: 5px;
}
.etiqueta-to .section label{
    margin: 0;
    position: absolute;
    margin-left: 10px;
    margin-top: -43px;
    font-size: 0.688rem;
    color: rgba(0, 0, 0, 0.5);
}
.section .item{
    margin: 15px;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}
.action form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.action input[type="submit"]{
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 5px;
}
.action .cancel input[type="submit"]{
    background-color: #ff5454;
    color: white;
    border: none;
}
.action .accept input[type="submit"]{
    background-color: #009979;
    color: white;
    border: none;
}
.consulta-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    max-width: 1500px;
}
.consulta-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 60px);
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
}
.consulta-form form .consulta-campo{
    width: calc(95%);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 5px;
    margin: 15px;
}
.subline{
    font-weight: unset;
    font-size: small;
    margin-bottom: 10px;
}
.outline{
    font-weight: bolder;
}
.consulta-form form div.consulta-campo input{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}
.consulta-form form fieldset{
    border: 0;
}
.consulta-form form input[type="submit"]{
    width: 150px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
    color: white;
    transition: 50ms ease-in-out;
}
.consulta-form form select{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 5px;
}
.consulta-form form option{
    padding: 10px;
}
.job-container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.job-container .job-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.job-container .job-options .job-card{
    width: 220px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 15px;   
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.job-container .job-options .job-card :first-child{
    margin-right: 15px;
}
.job-container .job-options .job-card h2{
    margin: 0;
}
.job-container .job-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.job-container .job-list .job-card{
    min-width: 250px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 15px;   
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}
.job-container .job-list .job-card.total{
    margin-bottom: 55px;
}
.job-container .job-list .job-card>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.job-list .job-card>div>p{
    font-weight: bolder;
}
.job-container .job-card .PAGO{
    color: #ffd366;
    text-shadow: 0 0 20px rgba(255, 211, 102, 0.3);
}
.job-container .job-card .ACEITO{
    color: #3b69c5;
    text-shadow: 0 0 20px rgba(59, 105, 197, 0.3);
}
.job-container .job-card .COMPLETO{
    color: #009979;
    text-shadow: 0 0 20px rgba(0, 151, 121, 0.3);
}
.job-container .job-card .CANCELADO{
    color: #ff5454;
    text-shadow: 0 0 20px rgba(255, 84, 84, 0.3);
}
.job-card:hover{
    border: 1px solid #5060ff;
    outline: 2px solid #5060ff;
    box-shadow: 0 0 30px 0px rgba(80, 96, 255, 0.35);
    cursor: pointer;
}
.job-container.info .job-card{
    flex-direction: column;
    justify-content: center;
}
.job-container.info .job-card h6:first-child{
    margin: 0;
    margin-right: 0;
}
.job-container.info .job-card>h6{
    margin: 0;
    margin-right: 0;
}
.job-container.info .job-card>div>h6{
    margin-bottom: 15px;
    margin-right: 0;
}
.job-container.info .job-card input[type="submit"]{
    width: 45%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    transition: 50ms ease-in-out;
}
.job-container.info .job-card .form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form-buttons .cancel{
    background-color: #ff5454;
    color: white;
}
.form-buttons .cancel:hover{
    background-color: #cc4343;
}
.form-buttons .cancel:active{
    background-color: #ff5454;
}
.form-buttons .accept{
    background-color: #009979;
    color: white;
}
.form-buttons .accept:hover{
    background-color: #007a5f;
}
.form-buttons .accept:active{
    background-color: #009979;
}
form #alerts{
    color:red;
}