body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: sans-serif ;
}
header{
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
.header-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 82%;
}
.logo_container{
    height: 50%;
}
.logo_container img{
    height: 100%;
}
.header-list{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-login a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-login i{
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
i{
    font-size: 25px;
}
.header-search-bar{
    height: 40px;
    width: 420px;
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px #c3c3c3 solid;
    border-radius: 10px;
}
.header-search-bar input{
    height: 35px;
    width: 371px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #f7f7f7;
}
input:focus{
    outline: none;
}
.header-search-bar button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 16px;
    z-index: 3;
}
.header-carrinho{
    width: 140px;
    height: 65px;
    background-color: #f7f7f7;
    border: 1px #c3c3c3 solid;
    border-radius: 10px;
}
.header-carrinho a{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
main{
    width: 82%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.product-container{
    min-height: 635px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
}
.product-text{
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-cards{
    width: 220px;
    height: 495px;
    min-width: 220px;
    background-color: #fff;
    border: 2px #dfdfdf solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 8px;
    margin-bottom: 100px;
    scroll-snap-align: center;
}
.product-cards-cotainer{
    min-height: 529px;
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: space-between;
    overflow-x: scroll;
    box-shadow: inset 0 0 15px #ffffff;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.img-container{
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container img{
    flex-shrink:  0;
    -webkit-flex-shrink: 0;
    max-width:  100%;
    max-height:  100%;
}
.product-cards button{
    width: 100%;
    height: 40px;
    border: 1px #dfdfdf solid;
    background-color: #fff;
    border-radius: 5px;
}
.product-cards:hover{
    border: 2px #ff6969 solid;
    transform: scale(1.01);
}
.product-price{
    width: 100%;
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: #ff3434;
}
.scroll-effect{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.scroll-effect>button{
    width: 7%;
    height: 637px;
    background-color: #fff;
    border: none;
}