body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: sans-serif ;
}
header{
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
.header-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 82%;
}
.logo_container{
    height: 50%;
}
.logo_container img{
    height: 100%;
}
.header-list{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-login a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-login i{
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
i{
    font-size: 25px;
}
.header-search-bar{
    height: 40px;
    width: 420px;
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px #c3c3c3 solid;
    border-radius: 10px;
}
.header-search-bar input{
    height: 35px;
    width: 371px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #f7f7f7;
}
input:focus{
    outline: none;
}
.header-search-bar button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 16px;
}
.header-carrinho{
    width: 140px;
    height: 65px;
    background-color: #f7f7f7;
    border: 1px #c3c3c3 solid;
    border-radius: 10px;
}
.header-carrinho a{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
main{
    width: 82%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}
.product-container{
    height: 635px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.product-text{
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-cards{
    width: 220px;
    height: 495px;
    border: 2px #dfdfdf solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.product-cards-cotainer{
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}
.product-cards img{
    width: 50%;
    height: fit-content;
}
.product-cards button{
    width: 100%;
    height: 40px;
    border: 1px #dfdfdf solid;
    background-color: #fff;
    border-radius: 5px;
}
.product-cards:hover{
    border: 2px #ff6969 solid;
    transform: scale(1.01);
}