<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(41, 41, 41);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size: 35px;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <p>Grupo legal:</p>
    <ul>
        <li>Willian Massao</li>
        <li>Sabryna Aparecida</li>
        <li>Eliane Medeiros</li>
        <li>Guilherme da Silva</li>
        <li>Emilly Vitória</li>
    </ul>
</body>
</html>